/* Responsive Area  */

/* Mobile Deviece  */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
    
    .nav-menu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    
    .nav-social-icon {
        width: 80%;
        margin-top: 10px;
    }
    
    .nav-link ul {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    
    .nav-link ul li {
        margin-bottom: 7px;
        font-size: 19px;
        text-align: center;
    }
    
    section.top-banner {
        flex-direction: column-reverse;
    }
    
    .top-banner-txt h3 {
        font-size: 30px;
    }
    
    .top-banner-txt h2 {
        font-size: 40px;
    }
    
    .top-banner-txt ul li {
        font-size: 16px;
    }
    
    .top-banner-btn button {
        font-size: 15px;
    }

    .top-banner-img img {
        width: 100%;
    }



}

/* Tablet Device  */
@media screen and (min-width: 960px) {

    .nav-link ul {
        flex-direction: row;
        width: 100%;
    }
    
    .nav-social-icon {
        width: 40%;
    }


    
}